@using Florist.Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Florist</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/menu.css" />
    <script src="script/menu.js"></script>
    <script src="https://kit.fontawesome.com/41074f745e.js" crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column" style="min-height: 100vh">
    <header>
        <div id="nav1" class="">
            <div style="display: flex; align-items: center; margin: 20px 20px;">
                <a asp-area="Customer" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo.png" height=60px; />
                </a>
                <div id="menu">
                    <div id="cssmenu">
                        <ul>
                            <li><a asp-area="Customer" asp-controller="Home" asp-action="Index"><span>Strona główna</span></a></li>
                            <li class='active has-sub'>
                                <a href='oferta.html'><span>Kwiaty</span></a><span class="rozwin">+</span>
                                <ul>
                                    <li><a asp-action="Index_Roses_Flowers" asp-controller="Flower" asp-area="Admin"><span>Róże</span></a></li>
                                    <li><a asp-action="Index_Sunflowers_Flowers" asp-controller="Flower" asp-area="Admin"><span>Słoneczniki</span></a></li>
                                    <li><a asp-action="Index_Gerbers_Flowers" asp-controller="Flower" asp-area="Admin"><span>Gerbery</span></a></li>
                                    <li><a asp-action="Index_Bouquets_Flowers" asp-controller="Flower" asp-area="Admin"><span>Bukiety mieszane</span></a></li>
                                </ul>
                            </li>
                            <li class='active has-sub'>
                                <a href='portfolio.html'><span>Okazje</span></a><span class="rozwin">+</span>
                                <ul>
                                    <li><a asp-action="Index_Birthday_Occasion" asp-controller="Flower" asp-area="Admin"><span>Urodziny</span></a></li>
                                    <li><a asp-action="Index_NameDay_Occasion" asp-controller="Flower" asp-area="Admin"><span>Imieniny</span></a></li>
                                    <li><a asp-action="Index_Wedding_Occasion" asp-controller="Flower" asp-area="Admin"><span>Ślub</span></a></li>
                                    <li><a asp-action="Index_Birth_Occasion" asp-controller="Flower" asp-area="Admin"><span>Narodziny</span></a></li>
                                    <li><a asp-action="Index_Thanks_Occasion" asp-controller="Flower" asp-area="Admin"><span>Podziękowania</span></a></li>
                                    <li><a asp-action="Index_Congratulations_Occasion" asp-controller="Flower" asp-area="Admin"><span>Gratulacje</span></a></li>
                                    <li><a asp-action="Index_Condolence_Occasion" asp-controller="Flower" asp-area="Admin"><span>Kondolencje</span></a></li>
                                    <li><a asp-action="Index_Anniversary_Occasion" asp-controller="Flower" asp-area="Admin"><span>Rocznica</span></a></li>
                                </ul>
                            </li>
                            <li class='active has-sub'>
                                <a href='portfolio.html'><span>Flowerboxy</span></a><span class="rozwin">+</span>
                                <ul>
                                    <li><a asp-action="Index_Roses_Flowerbox" asp-controller="Flower" asp-area="Admin"><span>Flowerbox róże</span></a></li>
                                    <li><a asp-action="Index_Cloves_Flowerbox" asp-controller="Flower" asp-area="Admin"><span>Flowerbox goździki</span></a></li>
                                    <li><a asp-action="Index_Mix_Flowerbox" asp-controller="Flower" asp-area="Admin"><span>Flowerbox mix</span></a></li>
                                </ul>
                            </li>
                            <li class='active has-sub'>
                                <a href='portfolio.html'><span>Prezenty</span></a><span class="rozwin">+</span>
                                <ul>
                                    <li><a asp-action="Index_TeddyBear_Gift" asp-controller="Flower" asp-area="Admin"><span>Miś z róż</span></a></li>
                                    <li><a asp-action="Index_SweetBouquets_Gift" asp-controller="Flower" asp-area="Admin"><span>Słodki bukiet</span></a></li>
                                    <li><a asp-action="Index_TeaAndCofee_Gift" asp-controller="Flower" asp-area="Admin"><span>Kawy i herbaty</span></a></li>
                                    <li><a asp-action="Index_Basket_Gift" asp-controller="Flower" asp-area="Admin"><span>Kosze</span></a></li>
                                    <li><a asp-action="Index_Balloon_Gift" asp-controller="Flower" asp-area="Admin"><span>Balony z helem</span></a></li>
                                </ul>
                            </li>
                            <li><a href='kontakt.html'><span>Kontakt</span></a></li>
                            @if (User.IsInRole(SD.ManagerUser))
                            {
                                <li class='active has-sub'>
                                    <a href='portfolio.html'><span>Admin</span></a><span class="rozwin">+</span>
                                    <ul>
                                        <li><a asp-area="Admin" asp-controller="Coupon" asp-action="Index"><span>Kupony</span></a></li>
                                        <li><a asp-area="Admin" asp-controller="User" asp-action="Index"><span>Użytkownicy</span></a></li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!--Navbar-->
        <nav id="nav" class="navbar navbar-light amber lighten-4 ">
            <!-- Navbar brand -->
            <a asp-area="Customer" asp-controller="Home" asp-action="Index">
                <img src="~/img/logo.png" style="height: 40px;" />
            </a>
            <!-- Collapse button -->
            <button style="float:right; border:none;" class="navbar-toggler second-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent20"
                    aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
                <div class="animated-icon2"><span></span><span></span><span></span><span></span></div>
            </button>
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent20">
                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="shop">
                            <i style="font-size:25px; float:left; margin-top:10px;" class="fas fa-shopping-cart"></i>
                        </a>
                        <div style="float:left; margin-left:20px; font-size:25px; margin-top:6px;">
                            <partial name="_LoginPartial" />
                        </div>
                    </li>
                    <li><a href='index.html'><span>Strona główna</span></a></li>
                    <li class='active has-sub'>
                        <a href='oferta.html'><span>Kwiaty</span></a><span class="rozwin">+</span>
                        <ul>
                            <li><a href='tworzenie-stron.html'><span>Róże</span></a></li>
                            <li><a href='grafika.html'><span>Słoneczniki</span></a></li>
                            <li><a href='pozycjonowanie.html'><span>Gerbery</span></a></li>
                            <li><a href='pozycjonowanie.html'><span>Bukiety mieszane</span></a></li>
                        </ul>
                    </li>
                    <li class='active has-sub'>
                        <a href='portfolio.html'><span>Okazje</span></a><span class="rozwin">+</span>
                        <ul>
                            <li><a href='strony.html'><span>Miłość</span></a></li>
                            <li><a href='wizytowki.html'><span>Urodziny</span></a></li>
                            <li><a href='loga.html'><span>Rocznica</span></a></li>
                            <li><a href='bannery.html'><span>Gratualcje</span></a></li>
                            <li><a href='ulotki.html'><span>Kondolencje</span></a></li>
                        </ul>
                    </li>
                    <li class='active has-sub'>
                        <a href='portfolio.html'><span>Flowerboxy</span></a><span class="rozwin">+</span>
                        <ul>
                            <li><a href='strony.html'><span>Róże w pudełku</span></a></li>
                            <li><a href='wizytowki.html'><span>Goździki w pudełku</span></a></li>
                            <li><a href='loga.html'><span>Kwiaty mieszane w pudełku</span></a></li>
                        </ul>
                    </li>
                    <li class='active has-sub'>
                        <a href='portfolio.html'><span>Prezenty</span></a><span class="rozwin">+</span>
                        <ul>
                            <li><a href='strony.html'><span>Misie z róż</span></a></li>
                            <li><a href='wizytowki.html'><span>Słodkie bukiety</span></a></li>
                            <li><a href='loga.html'><span>Zestawy kaw i herbat</span></a></li>
                            <li><a href='bannery.html'><span>Kosze prezentowe</span></a></li>
                            <li><a href='ulotki.html'><span>Balony z helem</span></a></li>
                        </ul>
                    </li>
                    <li><a href='kontakt.html'><span>Kontakt</span></a></li>
                </ul>
                <!-- Links -->
            </div>
            <!-- Collapsible content -->
        </nav>
        <!--/.Navbar-->
        <a id="shopping_cart" href="shop">
            <i style="font-size:36px; margin: 34px 30px 0px 30px; float: right;" class="fas fa-shopping-cart"></i>
        </a>
        <div id="user_icon" style="padding-top:25px; float:right; font-size:36px;">
            <partial name="_LoginPartial" />
        </div>
        <div style="background-image: url(/img/sunflower.jpg); width:100%; height:500px; display:grid;">
            <h1 style="color:#fff; font-size:72px; font-family:Dubai; text-align:center; margin-top:200px; text-shadow: 2px 2px #000;">Sprawdź letnie okazje</h1>
            <a href="#" style="text-decoration:none;">
                <div style="width:12%; min-width:100px; height:50px; background-color: mediumseagreen; border-radius: 20px; font-size:26px; font-weight:600; padding-top:6px; text-align:center; margin-left:45%; color:oldlace; letter-spacing: 1px; font-family: Dubai; margin-top:-70px;">Zobacz</div>
            </a>
        </div>
    </header>
    <div id="content" class="container">
        <main role="main" class="flex-fill">
            @RenderBody()
        </main>
    </div>
    <footer class="footer text-muted" style="display:contents;">
        <div style="height:400px; background-color: #006400;">
            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/menu.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
