@using Florist.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Florist</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="~/css/menu.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.css" />
        <script src="https://kit.fontawesome.com/41074f745e.js" crossorigin="anonymous"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
        <link rel="stylesheet" href="~/css/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="~/css/menu.css" />
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/41074f745e.js" crossorigin="anonymous"></script>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="d-flex flex-column" style="min-height: 100vh">
    <header>
        <nav>
            <div id="logo">
                <a asp-area="Customer" asp-controller="Home" asp-action="Index">
                    <img id="logo" src="~/img/logo.png"/>
                </a>
            </div>
            <label id="hamburger" for="drop" class="navbar-toggler second-button animated-icon2">
                <span></span><span></span><span></span><span></span>
            </label>
            @if (HttpContextAccessor.HttpContext.Session.GetInt32(SD.ssShoppingCartCount) != null)
            {
                <a asp-area="Customer" asp-controller="Cart" asp-action="Index" id="shopping_cart">
                    @{
                        var count = HttpContextAccessor.HttpContext.Session.GetInt32(SD.ssShoppingCartCount);
                    }
                    <i style="font-size:36px;" class="fas fa-shopping-cart"></i>(@count)
                </a>
            }
            else
            {
                <a asp-area="Customer" asp-controller="Cart" asp-action="Index" id="shopping_cart">
                    <i style="font-size:36px;" class="fas fa-shopping-cart"></i>(0)
                </a>
            }
            <div id="user_icon">
                <partial name="_LoginPartial" />
            </div>
            <input type="checkbox" id="drop" />
            <ul class="menu">
                <li>
                    <label for="drop-1" class="toggle">Kwiaty <i class="fas fa-caret-down"></i></label>
                    <a href="#">Kwiaty <i class="fas fa-caret-down"></i></a>
                    <input type="checkbox" id="drop-1" />
                    <ul>
                        <li><a asp-action="Index_Roses_Flowers" asp-controller="Flower" asp-area="Customer">Róże</a></li>
                        <li><a asp-action="Index_Sunflowers_Flowers" asp-controller="Flower" asp-area="Customer">Słoneczniki</a></li>
                        <li><a asp-action="Index_Gerbers_Flowers" asp-controller="Flower" asp-area="Customer">Gerbery</a></li>
                        <li><a asp-action="Index_Bouquets_Flowers" asp-controller="Flower" asp-area="Customer">Bukiety mieszane</a></li>
                    </ul>
                </li>
                <li>
                    <label for="drop-2" class="toggle">Okazje <i class="fas fa-caret-down"></i></label>
                    <a href="#">Okazje <i class="fas fa-caret-down"></i></a>
                    <input type="checkbox" id="drop-2" />
                    <ul>
                        <li><a asp-action="Index_Birthday_Occasion" asp-controller="Flower" asp-area="Customer">Urodziny</a></li>
                        <li><a asp-action="Index_NameDay_Occasion" asp-controller="Flower" asp-area="Customer">Imieniny</a></li>
                        <li><a asp-action="Index_Wedding_Occasion" asp-controller="Flower" asp-area="Customer">Ślub</a></li>
                        <li><a asp-action="Index_Birth_Occasion" asp-controller="Flower" asp-area="Customer">Narodziny</a></li>
                        <li><a asp-action="Index_Thanks_Occasion" asp-controller="Flower" asp-area="Customer">Podziękowania</a></li>
                        <li><a asp-action="Index_Congratulations_Occasion" asp-controller="Flower" asp-area="Customer">Gratulacje</a></li>
                        <li><a asp-action="Index_Condolence_Occasion" asp-controller="Flower" asp-area="Customer">Kondolencje</a></li>
                        <li><a asp-action="Index_Anniversary_Occasion" asp-controller="Flower" asp-area="Customer">Rocznica</a></li>
                    </ul>
                </li>
                <li>
                    <label for="drop-3" class="toggle">Flowerboxy <i class="fas fa-caret-down"></i></label>
                    <a href="#">Flowerboxy <i class="fas fa-caret-down"></i></a>
                    <input type="checkbox" id="drop-3" />
                    <ul>
                        <li><a asp-action="Index_Roses_Flowerbox" asp-controller="Flower" asp-area="Customer">Flowerbox róże</a></li>
                        <li><a asp-action="Index_Cloves_Flowerbox" asp-controller="Flower" asp-area="Customer">Flowerbox goździki</a></li>
                        <li><a asp-action="Index_Mix_Flowerbox" asp-controller="Flower" asp-area="Customer">Flowerbox mix</a></li>
                    </ul>
                </li>
                <li>
                    <label for="drop-4" class="toggle">Prezenty <i class="fas fa-caret-down"></i></label>
                    <a href="#">Prezenty <i class="fas fa-caret-down"></i></a>
                    <input type="checkbox" id="drop-4" />
                    <ul>
                        <li><a asp-action="Index_TeddyBear_Gift" asp-controller="Flower" asp-area="Customer">Miś z róż</a></li>
                        <li><a asp-action="Index_SweetBouquets_Gift" asp-controller="Flower" asp-area="Customer">Słodki bukiet</a></li>
                        <li><a asp-action="Index_TeaAndCofee_Gift" asp-controller="Flower" asp-area="Customer">Kawy i herbaty</a></li>
                        <li><a asp-action="Index_Basket_Gift" asp-controller="Flower" asp-area="Customer">Kosze</a></li>
                        <li><a asp-action="Index_Balloon_Gift" asp-controller="Flower" asp-area="Customer">Balony z helem</a></li>
                    </ul>
                </li>
                <li><a href='kontakt.html'><span>Kontakt</span></a></li>
                @if (User.IsInRole(SD.CustomerEndUser) || User.IsInRole(SD.ManagerUser))
                {
                    <li><a asp-area="Customer" asp-controller="Order" asp-action="OrderHistory">Historia zamówień</a></li>
                }
                @if (User.IsInRole(SD.ManagerUser))
                {
                    <li>
                        <label for="drop-5" class="toggle">Admin <i class="fas fa-caret-down"></i></label>
                        <a href="#">Admin <i class="fas fa-caret-down"></i></a>
                        <input type="checkbox" id="drop-5" />
                        <ul>
                            <li><a asp-area="Admin" asp-controller="Coupon" asp-action="Index"><span>Kupony</span></a></li>
                            <li><a asp-area="Admin" asp-controller="User" asp-action="Index"><span>Użytkownicy</span></a></li>
                            <li><a asp-area="Customer" asp-controller="Order" asp-action="ManageOrder"><span>Zamówienia</span></a></li>
                            <li><a asp-area="Customer" asp-controller="Order" asp-action="OrderPickup"><span>Do odbioru</span></a></li>
                        </ul>
                    </li>
                }
            </ul>

        </nav>
        <a href="#" style="text-decoration: none;">
            <div id="homepage_top_image">
                <h1 style="color:#fff; font-size:80px; font-family:Dubai; text-align:center; margin: 150px 0; text-shadow: 2px 2px #000;">Sprawdź letnie okazje</h1>
            </div>
        </a>
    </header>
    <div id="content" style="min-height: auto;">
        <main role="main" class="flex-fill">
            @RenderBody()
        </main>
    </div>
    <div id="homepage_bottom_image"></div>
    <footer>
        <div class="row">
            <div class="col-lg-3 offset-lg-1 text-center col-md-10 offset-md-1">
                <div>
                    <h4>Informacje</h4>
                    <hr />
                    <a href="#">O nas</a>
                    <a href="#">Regulamin</a>
                    <a href="#">Dostawa</a>
                    <a href="#">Kotakt</a>
                    <a href="#">Koszyk</a>
                </div>
                <div class="pt-5">
                    <h4>Płatności</h4>
                    <hr />
                    <img src="~/img/paypal.png" />
                    <img src="~/img/payu.png" />
                    <img src="~/img/mastercard.png" />
                    <img src="~/img/visa.png" />
                </div>
            </div>
            <div class="col-lg-5 offset-lg-2 text-center col-md-10 offset-md-1 pt-md-5 pt-lg-0 pt-sm-5 pt-5">
                <h4>Kontakt</h4>
                <hr />
                <div class="row col-12 pb-1">
                    <i class="fas fa-phone col-1"></i>
                    <span class="col-1">Zadzwoń </span>
                    <a class="offset-2" href="tel:999 999 999">999 999 999</a>
                </div>
                <div class="row col-12 pb-1">
                    <i class="fas fa-envelope col-1"></i>
                    <span class="col-1">Napisz </span>
                    <span class="offset-2">kontakt@twojadomena.pl</span>
                </div>
                <div class="row col-12">
                    <i class="fas fa-home col-1"></i>
                    <span class="col-1">Adres: </span>
                    <span class="offset-2">ul. Główna 16</span>
                </div>
                <div class="row col-12">
                    <span class="offset-4">46-046 Ligota Turawska</span>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2522.4169894062748!2d18.17907031585086!3d50.78638027098306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47105875bb53b2c1%3A0x5f8bcc8cdc22d68a!2sG%C5%82%C3%B3wna%2016%2C%2046-045%20Ligota%20Turawska!5e0!3m2!1spl!2spl!4v1595086890993!5m2!1spl!2spl" class="col-12" height="320" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </footer>
    <environment include="Development">
        <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=n94ifuzvl80pchikopiwgz2esrw8n28dwcywvpejlqrregfp"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/js/jquery-ui.js"></script>
        <script src="~/js/menu.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=n94ifuzvl80pchikopiwgz2esrw8n28dwcywvpejlqrregfp"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
        <script src="~/js/jquery-ui.js"></script>
        <script src="~/js/menu.js"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $('.carousel.carousel-multi-item.v-2 .carousel-item').each(function () {
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            for (var i = 0; i < 3; i++) {
                next = next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));
            }
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
