<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Florist</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/menu.css" />
    <script src="script/menu.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">
            <div style="display: flex; align-items: center; margin: 20px 20px;">
                <img src="~/img/logo.png" height=70px;/>
                <div id="menu">
                    <div id="cssmenu">
                        <ul>
                            <li class="selected"><a href='index.html'><span>Strona główna</span></a></li>
                            <li class='active has-sub'>
                                <a href='oferta.html'><span>Kwiaty</span></a><span class="rozwin">+</span>
                                <ul>
                                    <li><a href='tworzenie-stron.html'><span>Róże</span></a></li>
                                    <li><a href='grafika.html'><span>Słoneczniki</span></a></li>
                                    <li><a href='pozycjonowanie.html'><span>Gerbery</span></a></li>
                                    <li><a href='pozycjonowanie.html'><span>Bukiety mieszane</span></a></li>
                                </ul>
                            </li>
                            <li class='active has-sub'>
                                <a href='portfolio.html'><span>Okazje</span></a><span class="rozwin">+</span>
                                <ul>
                                    <li><a href='strony.html'><span>Miłość</span></a></li>
                                    <li><a href='wizytowki.html'><span>Urodziny</span></a></li>
                                    <li><a href='loga.html'><span>Rocznica</span></a></li>
                                    <li><a href='bannery.html'><span>Gratualcje</span></a></li>
                                    <li><a href='ulotki.html'><span>Kondolencje</span></a></li>
                                </ul>
                            </li>
                            <li class='active has-sub'>
                                <a href='portfolio.html'><span>Flowerboxy</span></a><span class="rozwin">+</span>
                                <ul>
                                    <li><a href='strony.html'><span>Róże w pudełku</span></a></li>
                                    <li><a href='wizytowki.html'><span>Goździki w pudełku</span></a></li>
                                    <li><a href='loga.html'><span>Kwiaty mieszane w pudełku</span></a></li>
                                </ul>
                            </li>
                            <li class='active has-sub'>
                                <a href='portfolio.html'><span>Prezenty</span></a><span class="rozwin">+</span>
                                <ul>
                                    <li><a href='strony.html'><span>Misie z róż</span></a></li>
                                    <li><a href='wizytowki.html'><span>Słodkie bukiety</span></a></li>
                                    <li><a href='loga.html'><span>Zestawy kaw i herbat</span></a></li>
                                    <li><a href='bannery.html'><span>Kosze prezentowe</span></a></li>
                                    <li><a href='ulotki.html'><span>Balony z helem</span></a></li>
                                </ul>
                            </li>
                            <li class='last'><a href='kontakt.html'><span>Kontakt</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        <div>
            <img src="~/img/sunflower.jpg" style="width: 100%;"/>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Florist - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/menu.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>