html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
header a {
    color: black;
    text-decoration: none;
}

.product {
    float: left;
}

.recommend {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    float: left;
    width: 30.25%;
    min-width: 280px;
    margin: 3% 1.5%;
}

    .recommend:hover {
        opacity: 0.6;
        text-decoration: none;
    }

    .recommend img {
        width: 100%;
    }

#content {
    margin-top: 40px;
}

.h2 {
    margin-left: 3%;
}

.addButton {
    padding-right: 3%;
}

.button {
    background-color: mediumseagreen;
    width: auto;
    padding: 10px 27px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
}

    .button:hover {
        opacity: 0.8;
    }

footer {
    height: auto;
    color: black;
    padding: 50px 0;
}

    footer a {
        display: block;
        color: black;
        text-decoration: none;
    }

    footer img {
        width: 150px;
    }

    footer a:hover {
        color: #666666;
        text-decoration: none;
    }

    footer i {
        padding-top: 5px;
    }


/*Slider*/
.fuchsia-rose-text {
    color: #db0075;
}
.chili-pepper-text {
    color: #9B1B30;
}
.carousel-multi-item .carousel-indicators li {
    height: .75rem;
    width: .75rem;
    max-width: .75rem;
    background-color: mediumseagreen;
}
.carousel-multi-item .carousel-indicators {
    margin-bottom: -1rem;
}
.carousel-multi-item a{
    text-decoration: none;
}
.carousel-multi-item a:hover {
    opacity:0.7;
}
.carousel-arrow{
    padding-top: 100px;
}
/*Koniec Slidera*/

#homepage_bottom_image {
    background-image: url(/img/homepage_image.jpg); 
    height:350px; 
    border: solid;
    border-width: 8px;
    border-color: #db0075;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: table;
}

.green_rect {
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: mediumseagreen;
    text-align: center;
}

.about_us_img {
    border: solid;
    border-color: #dddddd;
    border-width: 10px;
}

@media (max-width: 1200px) {
    .recommend {
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        font-size: 26px;
        font-weight: 700;
        float: left;
        width: 48%;
        min-width: 300px;
        margin: 3% 1%;
    }

        .recommend:hover {
            opacity: 0.6;
            text-decoration: none;
        }

        .recommend img {
            width: 100%;
        }
    
}

@media (max-width: 800px) {
    .recommend {
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        font-size: 26px;
        font-weight: 700;
        float: left;
        width: 96%;
        min-width: 300px;
        margin: 3% 2%;
    }

        .recommend:hover {
            opacity: 0.6;
            text-decoration: none;
        }

        .recommend img {
            width: 100%;
        }
    
}
