header a {
    color: black;
    text-decoration: none;
}

.product {
    float: left;
}

.recommend {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    float: left;
    width: 30.25%;
    min-width: 280px;
    margin: 3% 1.5%;
}

    .recommend:hover {
        opacity: 0.6;
        text-decoration: none;
    }

    .recommend img {
        width: 100%;
    }

#content {
    margin-top: 40px;
}

.h2 {
    margin-left: 3%;
}

.addButton {
    padding-right: 3%;
}

.button {
    background-color: mediumseagreen;
    width: auto;
    padding: 10px 27px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
}

    .button:hover {
        opacity: 0.8;
    }

footer {
    height: auto;
    background-color: #cccccc;
    color: black;
    padding: 30px 0;
}

    footer a {
        display: block;
        color: black;
        text-decoration: none;
    }

    footer img {
        width: 150px;
    }

    footer a:hover {
        color: #666666;
        text-decoration: none;
    }

    footer i {
        padding-top: 5px;
    }


/*Slider*/
.carousel-multi-item.v-2.product-carousel .carousel-inner .carousel-item.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-next,
.carousel-multi-item.v-2.product-carousel .carousel-item-prev {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.carousel-multi-item.v-2.product-carousel .carousel-item-right.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-next {
    -webkit-transform: translateX(20%);
    -ms-transform: translateX(20%);
    transform: translateX(20%);
}

.carousel-multi-item.v-2.product-carousel .carousel-item-left.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-prev {
    -webkit-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    transform: translateX(-20%);
}

.carousel-multi-item.v-2.product-carousel .carousel-item-right,
.carousel-multi-item.v-2.product-carousel .carousel-item-left {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.carousel-multi-item.v-2.product-carousel *, .carousel-multi-item.v-2.product-carousel ::after, .carousel-multi-item.v-2.product-carousel ::before {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.fuchsia-rose-text {
    color: #db0075;
}

.aqua-sky-text {
    color: #5cc6c3;
}

.mimosa-text {
    color: #F0C05A;
}

.list-inline-item .fas, .list-inline-item .far {
    font-size: .8rem;
}

.chili-pepper-text {
    color: #9B1B30;
}

.carousel-multi-item .controls-top .btn-floating {
    background: #F8CDCD;
}

.carousel-multi-item .carousel-indicators li {
    height: .75rem;
    width: .75rem;
    max-width: .75rem;
    background-color: #5cc6c3;
}

.carousel-multi-item .carousel-indicators .active {
    height: 1rem;
    width: 1rem;
    max-width: 1rem;
    background-color: #5cc6c3;
}

.carousel-multi-item .carousel-indicators {
    margin-bottom: -1rem;
}
/*Koniec Slidera*/

@media (max-width: 1200px) {
    .recommend {
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        font-size: 26px;
        font-weight: 700;
        float: left;
        width: 48%;
        min-width: 300px;
        margin: 3% 1%;
    }

        .recommend:hover {
            opacity: 0.6;
            text-decoration: none;
        }

        .recommend img {
            width: 100%;
        }
    
}

@media (max-width: 800px) {
    .recommend {
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        font-size: 26px;
        font-weight: 700;
        float: left;
        width: 96%;
        min-width: 300px;
        margin: 3% 2%;
    }

        .recommend:hover {
            opacity: 0.6;
            text-decoration: none;
        }

        .recommend img {
            width: 100%;
        }
    
}
