html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #eeeeee;
}

a:hover{
    transition: 0.5s;
}

#logo{
    height: 80px;
}

header a {
    color: #222;
    text-decoration: none;
}

.spanShadow {
    display: inline-block;
    box-shadow: 0 12px 15px -18px rgba(0,0,0,0.5);
    padding-bottom: 5px;
}

.product {
    float: left;
}

.goldColor {
    color: #c79c6e;
}

.brownColor {
    color: #534741;
}

.naglowek {
    color: #505050;
    font-family: 'Playfair Display', serif;
}

.goldButton {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #c79c6e;
    border-radius: 10px;
    padding: 2px 14px;
    font-size: 18px;
    color: #fff;
    border-color: #d8ad7f;
}

    .goldButton:hover {
        background-color: #b68b5d;
        border-color: #c79c6e;
        transition: 0.5s;
        color: #fff;
        text-decoration: none;
    }

.brownButton {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #534741;
    border-radius: 10px;
    padding: 2px 14px;
    font-size: 18px;
    color: #fff;
    border-color: #645852;
    text-align: center;
}

    .brownButton:hover {
        background-color: #423630;
        border-color: #534741;
        transition: 0.5s;
        color: #fff;
        text-decoration: none;
    }

.recommend {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    float: left;
    width: 30.25%;
    min-width: 280px;
    margin: 3% 1.5%;
}

    .recommend:hover {
        opacity: 0.6;
        text-decoration: none;
    }

    .recommend img {
        width: 100%;
    }

#content {
    margin-top: 40px;
}

.h2 {
    margin-left: 3%;
}


footer {
    color: black;
    background-color: #dddddd;
    margin-top: 100px;
}

#footerRect {
    background-color: #534741;
    height: 80px;
    margin-bottom: 30px;
}

    footer a {
        display: block;
        color: black;
        text-decoration: none;
    }

    footer img {
        width: 150px;
    }

    footer a:hover {
        color: #666666;
        text-decoration: none;
    }

    footer i {
        padding-top: 5px;
    }


/*Slider*/
.carousel-multi-item .carousel-indicators li {
    height: .75rem;
    width: .75rem;
    max-width: .75rem;
    background-color: #c79c6e;
}
.carousel-multi-item .carousel-indicators {
    margin-bottom: -1rem;
}
.carousel-multi-item a{
    text-decoration: none;
}
.carousel-multi-item a:hover {
    opacity:0.7;
}
.carousel-arrow{
    padding-top: 100px;
}

.carousel-multi-item p{
    color: #000;
    font-weight: 600;
}
/*Koniec Slidera*/

#aboutUs {
    background-image: url(/images/onas.jpg);
    text-align: center;
    color: white;
    padding: 60px;
}

.about_us_img {
    border: solid;
    border-color: #12123c;
    border-width: 10px;
}

.opinions {
    background-image: url(/images/opinie.jpg);
    background-size: cover;
    width: 100%;
    color: #fff;
    padding: 80px 0;
}

    .opinions h4 {
        color: #c79c6e;
    }


.whiteButton {
    height: auto;
    border: solid;
    border-color: white;
    border-width: 3px;
    padding: 2px 14px;
    border-radius: 2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.whiteButtonLink {
    color: #fff;
}

    .whiteButtonLink:hover {
        color: #c79c6e;
        text-decoration: none;
    }

@media (max-width: 1200px) {
    .recommend {
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        font-size: 26px;
        font-weight: 700;
        float: left;
        width: 48%;
        min-width: 300px;
        margin: 3% 1%;
    }

        .recommend:hover {
            opacity: 0.6;
            text-decoration: none;
        }

        .recommend img {
            width: 100%;
        }
    
}

@media (max-width: 800px) {
    .recommend {
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        font-size: 26px;
        font-weight: 700;
        float: left;
        width: 96%;
        min-width: 300px;
        margin: 3% 2%;
    }

        .recommend:hover {
            opacity: 0.6;
            text-decoration: none;
        }

        .recommend img {
            width: 100%;
        }
}
