
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-10 offset-lg-1 col-12 mb-5">
    <h1 style="color: mediumseagreen;">Kontakt</h1>
    <div class="row">
        <div class="col-lg-5 text-center col-md-10 pt-md-5 pt-lg-0 pt-sm-5 pt-5">
            <hr />
            <div class="row col-12 pb-1">
                <i class="fas fa-phone col-1"></i>
                <span class="col-1">Zadzwoń </span>
                <a class="offset-2" href="tel:999 999 999">999 999 999</a>
            </div>
            <div class="row col-12 pb-1">
                <i class="fas fa-envelope col-1"></i>
                <span class="col-1">Napisz </span>
                <span class="offset-2">kontakt@twojadomena.pl</span>
            </div>
            <div class="row col-12">
                <i class="fas fa-home col-1"></i>
                <span class="col-1">Adres: </span>
                <span class="offset-2">ul. Główna 16</span>
            </div>
            <div class="row col-12">
                <span class="offset-4">46-046 Ligota Turawska</span>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2522.4169894062748!2d18.17907031585086!3d50.78638027098306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47105875bb53b2c1%3A0x5f8bcc8cdc22d68a!2sG%C5%82%C3%B3wna%2016%2C%2046-045%20Ligota%20Turawska!5e0!3m2!1spl!2spl!4v1595086890993!5m2!1spl!2spl" class="col-12" height="320" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="col-lg-5 offset-lg-2 col-md-10 offset-md-1 pt-md-5 pt-lg-0 pt-sm-5 pt-5">
            <form>
                <hr />
                <h5>Masz jakiś problem? Skontaktuj się z nami!</h5>
                <div class="row mb-3">
                    <label class="col-4">Imię:</label>
                    <input class="form-control col-8" type="text" />
                </div>
                <div class="row mb-3">
                    <label class="col-4">Nazwisko:</label>
                    <input class="form-control col-8" type="text" />
                </div>
                <div class="row mb-3">
                    <label class="col-4">Email:</label>
                    <input class="form-control col-8" type="text" />
                </div>
                <div class="row mb-3">
                    <label class="col-4">Telefon:</label>
                    <input class="form-control col-8" type="text" />
                </div>
                <div class="row mb-3">
                    <label class="col-4">Wiadomość:</label>
                    <textarea class="form-control col-8" rows="10"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>

