@model IEnumerable<Flower>
@using Florist.Utility
@{
    ViewData["Title"] = "Index";

}
<div>
    <div class="row">
        <div class="col-6">
            <h2 class="h2">Misie z róż</h2>
        </div>
        @if (User.IsInRole(SD.ManagerUser))
        {
            <div class="col-6 text-right addButton">
                <a asp-action="Create" class="btn btn-info">&nbsp;<i class="fas fa-plus"></i>&nbsp; Dodaj &nbsp;</a>
            </div>
        }
    </div>
    <br />
    <partial name="IndexFlowerPartialView" />
</div>